<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{this.courseData.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" >{{this.courseData.name}}</ion-title>
    </ion-toolbar>  
  </ion-header>

  <ion-list>
    <ion-item>
      <ion-input [(ngModel)]="fileName">Name of file: </ion-input>
      <input type="file" (change)="onFileChange($event)">
    </ion-item>
    <ion-item *ngFor="let note of notes">
      <a href="{{note.file}}" target="_blank">Open: {{note.fileName}}</a>
    </ion-item>
  </ion-list>
</ion-content>
