<div *ngIf="this.front == true">

	<div class="container">
		<div class="screen">
			<div class="screen__content">
				<div class="login">
					<div class="login__field">
						<i class="login__icon fas fa-user"></i>
						<input type="text" class="login__input" placeholder="User name / Email" [(ngModel)]="loginEmail">
					</div>
					<div class="login__field">
						<i class="login__icon fas fa-lock"></i>
						<input type="password" class="login__input" placeholder="Password" [(ngModel)]="loginPassword">
					</div>
					<button class="button login__submit" (click)="login()">
						<span class="button__text">Log In Now</span>
						<i class="button__icon fas fa-chevron-right"></i>
					</button>
					<button class="button login__submit" (click)="toggleRegister('back')">
						<span class="button__text" >Go to Register</span>
						<i class="button__icon fas fa-chevron-right"></i>
					</button>
				</div>
				<div class="social-login">
					<h3 style="padding: 25px;">Student's Login</h3>
					<div class="social-icons">
						<a href="#" class="social-login__icon fab fa-instagram"></a>
						<a href="#" class="social-login__icon fab fa-facebook"></a>
						<a href="#" class="social-login__icon fab fa-twitter"></a>
					</div>
				</div>
			</div>
			<div class="screen__background">
				<span class="screen__background__shape screen__background__shape4"></span>
				<span class="screen__background__shape screen__background__shape3"></span>
				<span class="screen__background__shape screen__background__shape2"></span>
				<span class="screen__background__shape screen__background__shape1"></span>
			</div>
		</div>
	</div>
</div>

<div *ngIf="this.front == false">
	<div class="container">

		<div class="screen">
			<div class="screen__content">
				<div class="login">
					<div class="login__field">
						<i class="login__icon fas fa-user"></i>
						<input type="text" class="login__input" placeholder="Full Name"  [(ngModel)]="registerName">
					</div>
					<div class="login__field">
						<i class="login__icon fas fa-user"></i>
						<input type="text" class="login__input" placeholder="User name / Email" [(ngModel)]="registerEmail">
					</div>
					<div class="login__field">
						<i class="login__icon fas fa-lock"></i>
						<input type="password" class="login__input" placeholder="Password" [(ngModel)]="registerPassword">
					</div>
					<button class="button login__submit" (click)="register()">
						<span class="button__text">Register Now</span>
						<i class="button__icon fas fa-chevron-right"></i>
					</button>
					<button class="button login__submit" (click)="toggleRegister('front')">
						<span class="button__text" >Go to Login</span>
						<i class="button__icon fas fa-chevron-right"></i>
					</button>
				</div>

			</div>
			<div class="screen__background">
				<span class="screen__background__shape screen__background__shape4"></span>
				<span class="screen__background__shape screen__background__shape3"></span>
				<span class="screen__background__shape screen__background__shape2"></span>
				<span class="screen__background__shape screen__background__shape1"></span>
			</div>
		</div>
	</div>
</div>